body{
    margin:0px;
    padding:0px;
    background-color:#E6E6FA;
    z-index: -1;
    margin-bottom:100px
}
.cardview{
    margin-top:80px;
    margin-left:30px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 32px;
    margin-right: 10px;
    
    
    
}
.datatable{
    margin-top: 50px;
    margin-left: 16%;
    /* margin-right: 0px; */
    width:70%
    

}
/* .cardview:hover{
		transform: scale(0.8);
	
} */
.formstyle{
    position: absolute;
    top: 140px;
    left: 30%;
    text-align: center;
    
}